<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17782170853-ek3hoi6jbr3uk3jr9enhqa2d8vf6slas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17782170853-ek3hoi6jbr3uk3jr9enhqa2d8vf6slas</string>
	<key>API_KEY</key>
	<string>AIzaSyC_og7F50fY-P1r2nLwEcWDSkM-ChyhgMk</string>
	<key>GCM_SENDER_ID</key>
	<string>17782170853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-60ca0</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-60ca0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17782170853:ios:f833c5bc26c9bacf8d600c</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-60ca0.firebaseio.com</string>
</dict>
</plist>